STMobileAPI/bin/
STMobileAPI/gen/
sample_mobile_track_106/bin/
sample_mobile_track_106/gen/
STMobileBeautySample/bin/
STMobileJNI/bin/
STMobileJNI/gen/
STMobileJNI/.settings/
STMobileJNI/obj/
sample_face_detect/bin/
sample_face_detect/gen/
sample_face_detect/.settings/
STMobileBeautySample/.settings/
STMobileBeautySample/gen/
forPandaTV/PLDroidCameraStreamingDemo/projectFilesBackup/.idea/
sample_mobile_track_106/.settings/
STMobileAPI/.settings/
forPandaTV/sTMobileJNI/build/
forPandaTV/PLDroidCameraStreamingDemo/sTMobileJNI/src/main/obj/
forPandaTV/PLDroidCameraStreamingDemo/sTMobileJNI/build/
forPandaTV/sTMobileJNI/src/main/obj/
forPandaTV/sTMobileJNI/src/main/libs/
